.App {
  text-align: center;
  background-color: #121213;
  display: block;
  height: 100%;
  margin: 0;
}


.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid #3a3a3c;
  height: 50px;
}

.App-header .title {
  font-family: 'nyt-karnakcondensed';
  font-weight: 700;
  font-size: 37px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  left: 0;
  right: 0;
  padding: 0px 16px;
}

.game {
  display: flex;
  color: white;
  flex-direction: column;
  height: calc(100% - 50px);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

/* Tile */
.tile {
  display: inline-flex;
  border: 2px solid #565758;
  width: 100%;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  font-size: 2rem;
  box-sizing: border-box;
  vertical-align: middle;
  text-transform: uppercase;
}

.correct {
  background-color: #538d4e !important;
}

.present {
  background-color: #b59f3b !important;
}

.absent {
  background-color: #3a3a3c !important;
}

/* End Tile */

/* Game Word */
.game-word {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}
/* End Game Word */

/* Game Board */
.game-board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.game-board {
  width: 350px;
  height: 420px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding:10px;
  box-sizing: border-box;
}

/* End Game Board */

/* Game Keyboard */
.game-keyboard-wrapper {
  margin: 0 8px;
  display: block;
}

.game-keyboard {

}

.game-keyboard .row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
}

.game-keyboard button {
  display: flex;
  justify-content: center;
  flex: 1;
  font-weight: bold;
  background-color: #818384;
  color: white;
  border: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  align-items: center;
  text-transform: uppercase;

}

.game-keyboard .spacer-half {
  flex: .5;
}

.game-keyboard .spacer-three-halves {
  flex: 1.5;
  font-size: 9px;
}

/* End Game Keyboard */

/* Toast */
/* End Toast */