/* Global vars */
:root {
  --present-color: #b59f3b;
  --absent-color: #3a3a3c;
  --correct-color: #538d4e;
}
/* End Global vars */

.App {
  text-align: center;
  background-color: #121213;
  display: block;
  height: 100%;
  margin: 0;
}


.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid #3a3a3c;
  height: 50px;
}

.App-header .title {
  font-family: 'nyt-karnakcondensed';
  font-weight: 700;
  font-size: 37px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  left: 0;
  right: 0;
  padding: 0px 16px;
}

.game {
  display: flex;
  color: white;
  flex-direction: column;
  height: calc(100% - 50px);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

/* Tile */

.tile, .front, .back {
  /* position: relative; */
  display: inline-flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  font-size: 2rem;
  box-sizing: border-box;
  vertical-align: middle;
  text-transform: uppercase;
}

.tile-inner {
  width: 100%;
  height: 100%;
  transition: 0.6s;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  border: 2px solid #3a3a3c;
  transform: rotateX(0deg);
}

.front.used {
  border: 2px solid #565758;
  transform: rotateX(0deg);
  animation-name: select-tile;
  animation-duration: .1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes select-tile {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

.back {
  border: 0;
  transform: rotateX(180deg);
}

.back.present {
  background-color: var(--present-color);
}

.back.absent {
  background-color: var(--absent-color);
}

.back.correct {
  background-color: var(--correct-color);
}

/* End Tile */

/* Game Word */
.game-word {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}
/* End Game Word */

/* Game Board */
.game-board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.game-board {
  width: 350px;
  height: 420px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding:10px;
  box-sizing: border-box;
}

/* End Game Board */

/* Game Keyboard */
.game-keyboard-wrapper {
  margin: 0 8px;
  display: block;
}

.game-keyboard .row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
}

.game-keyboard button {
  display: flex;
  justify-content: center;
  flex: 1;
  font-weight: bold;
  background-color: #818384;
  color: white;
  border: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  align-items: center;
  text-transform: uppercase;

}

.game-keyboard .spacer-half {
  flex: .5;
}

.game-keyboard .spacer-three-halves {
  flex: 1.5;
  font-size: 9px;
}

.game-keyboard .correct {
  background-color: var(--correct-color) !important;
}

.game-keyboard .present {
  background-color: var(--present-color) !important;
}

.game-keyboard .absent {
  background-color: var(--absent-color) !important;
}
/* End Game Keyboard */

/* Toast */
/* End Toast */